<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()" [class.active]="activeMenu">
      <img src="./assets/svg/icon_menu.svg" alt="menu" />
    </button>
    <a href="">
      <img src="./assets/svg/logo_yard_sale.svg" alt="logo" />
    </a>
    <Shoppingcart
      shoppingcartUrl=""
      icon="./assets/svg/icon_shopping_cart.svg"
      [shoppingcart]="toBuyProducts"
    ></Shoppingcart>
  </div>
  <div class="side-menu" [class.active]="activeMenu">
    <div class="side-menu-container">
      <button (click)="toggleMenu()">
        <img src="./assets/svg/icon_menu.svg" alt="menu" />
      </button>
      <ul>
        <li><a href="">Home</a></li>
        <li class="active"><a href="">Store</a></li>
        <li><a href="">My Cart</a></li>
        <li><a href="">About Us</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" href="">
        <img src="./assets/svg/logo_yard_sale.svg" alt="logo" />
      </a>
      <ul>
        <li><a href="">Home</a></li>
        <li class="active"><a href="">Store</a></li>
        <li><a href="">My Cart</a></li>
        <li><a href="">About Us</a></li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">fabroche@genzai.com</div>
      <div>
        <Shoppingcart
          shoppingcartUrl=""
          icon="./assets/svg/icon_shopping_cart.svg"
          [shoppingcart]="toBuyProducts"
        ></Shoppingcart>
      </div>
    </div>
  </div>
</div>
